article > h2{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width: 1860px;
  margin-top:7%;
  margin-bottom:7%;
}
article > section{
  width:100%;
  max-width:1860px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.block{
  /* background: white; */
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border:2px solid grey;
  border-radius: 70px;
  max-width:540px;
  width:100%;
  height:500px;
}
.block > div{
  width:100%;
  max-width:440px;
  height:200px;
}
hr.oK{
  display: block;
  position:absolute;
  width:700px;
  right:10px;
  overflow: hidden;
  /* margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; */
  border-top: 1px dashed green;
  z-index: 1;
}
.block > div > div > hr.oK{
  display:block;
  transform: rotate(90deg);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-top: 1px dashed red;
  max-width:700px;
  width:100%;
  z-index:1;
}
.block > div > p:nth-child(1){
  color:green;
  font-size: 30px;
}
.middleBox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width:810px;
  height:500px;
  border:2px solid grey;
  border-radius:70px;
}
.middleBox > div{
  width:100%;
  max-width:710px;
  height:200px;
}
.middleBox > div > p:nth-child(1){
color:green;
font-size:30px;
}
.bottomBox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width:1020px;
  height:500px;
  border:2px solid grey;
  border-radius:70px;
}
.bottomBox > div > p:nth-child(1){
color:green;
font-size: 30px;
}
.bottomBox > div{
  width:100%;
  max-width:710px;
  height:200px;
}
.bottomBoxTwo{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width:600px;
  height:500px;
  border:2px solid grey;
  border-radius:70px;
}
.chooseUs{
  display:flex;
  justify-content:flex-start;
  align-items: flex-start;
  max-width:1632px;
  width:100%;
  flex-direction: column;
}
.chooseUs > h2{
  margin-left: 35px;
}
.chooseUs > p{
  margin: 3%;
  width:calc(100% - 3%);
  max-width:727px;
}
.blockFromChoose{
  display:flex;
  justify-content: space-between;
  width:100%;
  max-width:1632px;
  flex-wrap:wrap;
}
.blockOne{
  display:flex;
  width:100%;
  max-width:305px;
  height:502px;
  & ul{
    margin-left: 37px;
    list-style:none;
  }
  & ul > li{
    margin:75px;
  }
}
#lineSpan{
  margin-top:53px;
  display:block;
  position: absolute;
  width:4px;
  height:399px;
  background: green;
  z-index: 1;
}
.blockTwo{
  width:100%;
  max-width:1117px;
  height:450px;
  border:2px solid grey;
  border-radius: 47px;
  & p{
    margin:2%;
  }
  & h2{
    margin:2%;
  }
}
.HowWeWork{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width:100%;
  max-width:1632px;
  & h2{
    margin:3%;
  }
}
.HowWeWork .lineBox{
  display:flex;
  justify-content: center;
  /* align-items: center; */
  width:100%;
  max-width:1633px;
  flex-wrap:wrap;
}
.HowWeWork .lineBox > div{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 17px;
  border:2px solid grey;
  width:100%;
  max-width:540px;
  height:220px;
  flex-direction: column;
  & strong{
    margin:15px;
  }
  & p{
    margin:15px;
  }
}
.HowWeWork .lineBox > div:nth-child(1){
  border:none;
}
.HowWeWork > .lineBox > div:nth-child(6){
  height:300px;
  background: MediumSlateBlue;
  color:white;
}
.circleTwo{
  display:flex;
  justify-content: center;
  align-items: center;
  width:280px;
  height: 280px;
  border-radius: 50%;
  border:3px solid black;
  font-size:24px;
  color:black;
  text-transform: uppercase;
  position: relative;
  /* left:-400px; */
}
.usedTechnologies{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width:100%;
  max-width:1630px;
  & h2{
    margin: 3%;
  }
  & p{
    margin-left: 47%;
    width:100%;
    max-width: 634px;
  }
}
#technologies{
  display:block;
  height:3px;
  background: grey;
  width:calc(100% - 6%);
  max-width:1620px;
  margin:3%;
}
@media(max-width:1300px){
  .usedTechnologies > div{
    flex-direction:column;
  }
  .usedTechnologies{
    & p{
      margin-left:3%;
      width:calc(100% - 3%);
    }
  }
}
.usedTechnologies > div{
  display:flex;
  width:100%;
  max-width:1620px;
  & p{
    margin-left: 2%;
    margin-right:1%;
    font-size: 17px;
    width:153px;
    height:93px;
  }
}
.industries{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:1620px;
  width:100%;
  margin-top:75px;
  & hr{
    background: grey;
    margin-top:3%;
    margin-bottom:3%;
  }
  & div{
    margin:1%;
    width:100%;
    max-width:505px;
    height:460px;
  }
}
.getInTouchWithUs{
  max-width:1860px;
  min-height:1004px;
  background:MediumSlateBlue;
  border-radius: 37px;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
}
.getInTouchWithUs > div{
  display:flex;
  width:100%;
  min-height:500px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start

}
.getInTouchWithUs> div  > div > h2{
  margin-bottom:77px;
  color:white;
  font-size: 100px;
}
.getInTouchWithUs > div > div{
  margin:3%;
  width:700px;
}
.getInTouchWithUs > div > div > input{
  font-size: 30px;
  width:100%;
  max-width:700px;
  height: 62px;
  background: MediumSlateBlue;
  border:0;
  border-bottom: solid 2px gray;
  margin-top:3%;
  margin-bottom:3%;
  color:white;
}
.getInTouchWithUs > div > div > p{
  color:white;
  font-size: 27px;
}
/* .getInTouchWithUs > div:nth-child(1) > button:nth-child(5) */
.getInTouchWithUs > div > div > button:nth-child(5){
  color:MediumSlateBlue;
  margin-top:7%;
  margin-bottom:7%;
  background: white;
  width:100%;
  max-width:205px;
  height:58px;
  border-radius:7px;
  font-size: 27px;
  border: solid white 2px;
}
.getInTouchWithUs > div > div > button:nth-child(2){
  color:white;
  margin-top:7%;
  margin-bottom:7%;
  background: transparent;
  width:100%;
  max-width:350px;
  height:58px;
  border-radius:7px;
  font-size: 27px;
  border:solid 2px white;
}
footer{
  width:100%;
  min-height: 564px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer > section{
  margin-top:37px;
  width:100%;
  max-width:1860px;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top:3px solid grey;
  border-bottom:3px solid grey;
  /* flex-direction: column; */
  min-height: 370px;
  flex-wrap:wrap;
}
footer > section > div{
  margin-top:37px;
  width:100%;
  min-height: 300px;
  max-width:333px;
  display:flex;
  justify-content: space-between;
  align-items:space-between;

  flex-direction: column;
  /* min-height: 350px; */
}
footer > section > div > ul > li{
  margin-bottom:3%;
  margin-top:3%;
  list-style: none;
}
footer > section > div > button{
  width:255px;
  height:58px;
  background:MediumSlateBlue;
  border-radius:7px;
  color:white;
  font-size: 27px;
}
footer > section > div:nth-child(1) > h3{
  font-size:57px;
}
footer > div{
  display:flex;
  margin-top:35px;
  width:100%;
  min-height: 70px;
  flex-wrap: wrap;
  max-width:1860px;
  justify-content: space-between;
  align-items: space-around;
}
picture > img{
  width:100%;
  max-width: 100%;
}
.firstPhoto{
  width:100%;
  max-width: 540px;
  height:500px;
  object-fit: cover;
  border-radius: 70px;
}
.secondPhoto{
  width:100%;
  max-width: 810px;
  height:500px;
  object-fit: cover;
  border-radius: 70px;
}
.thirdPhoto{
  width:100%;
  max-width: 604px;
  height:500px;
  object-fit: cover;
  border-radius: 70px;
}
