*{
  margin: 0;
  padding:0;
  /* background: green; */
}

body{
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  width:100%;
  background: grey;
  font-size: 20px;
}
main{
  background: white;
  /* mar */
}
body > main > header{
  font-family:"NeueMachina","Arial";
  display: flex;
  width:100%;
  /* max-width:1860px; */
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
body > main > header > nav{
  width:100%;
  max-width:1860px;
  height:119px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
  margin-right: 3px;
}
body > main > header > nav > label > span{
  color:white;
}
body > main > header > nav > button{
  max-width:254px;
  width:100%;
  height:59px;
  background:green;
  color:white;
  border: 1px solid darkgreen;
  border-radius:17px;
  font-size: 24px;
}
/* body > main > header > nav > button > img{ */
  /* background-image: url('img/Button.svg')  */
  /* width:22px; */
/* } */
body > main > header > nav > img{
  width:204px;
  height:63px;
}
body > main > header > nav > ul > li{
  display:inline-block;
  color:white;
  width:100%;
}
body > main > header > nav > ul{
  /* max-width:614px; */
  width:100%;
  display:flex;
  justify-content: space-around;
  font-size:24px;
}
body > main > header{
  width:100%;
  max-width: 1920px;
  max-height:975px;
  height:100vh;
  background-image: url('img/Img.jpg');
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.line{
  display:block;
  position: absolute;
  max-width:1860px;
  width:100%;
  background:grey;
  height:3px;
  top:119px;
}
.diagonallyLine{
  display:block;
  background:grey;
  height:119px;
  width:3px;
}
header > section > h1{
  color:white;
  max-width: 892px;
  width:100%;
  height:130px;
  font-size: 50px;
  z-index: 1;
  margin-bottom: 7%;
}
 .boxLine{
   position:relative;
   top:-90px;
   z-index: -1;
   width:100%;
  max-width:875px;
  height:65px;
  background: green;
  display:block;
}
.circle{
  display:flex;
  justify-content: center;
  align-items: center;
  width:280px;
  height: 280px;
  border-radius: 50%;
  border:3px solid white;
  font-size:24px;
  color:white;
  text-transform: uppercase;
  position: relative;
  /* left:-400px; */
}
.circle > p{
  font-size: 33px;
}
/* .comunistBox{} */
header > section{
  display:flex;
  flex-direction: column;
  max-width:1600px;
  width:100%;
  /* margin-bottom:3%; */
}
article{
  width:100%;
  max-width:1920px;
  background: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* //------------------///----------------// */
@media(max-width:900px){
  body > main:nth-child(1) > header:nth-child(1) > nav:nth-child(1) > ul:nth-child(2){
    display:none;
  }
  .line{
    display:none;
  }
  .diagonallyLine{
    display:none;
  }
  body > main > header > nav > button{
    max-width:115px;
    width:100%;
    height:115px;
    background:green;
    /* color:white; */
    border: 1px solid darkgreen;
    border-radius:17px;
    /* font-size: 24px; */
    /* background: url('public_html/img/Button.svg'); */
  }
  nav > div > span{
    width:30px;
    height: 3px;
    display:block;
    background: black;
  }
}
@media(max-width:370px){
  body > main > header > nav > img{
    display:none;
  }
}
/* ----------------------------------------- */
